page-login {
    ion-list{
        text-align: center;
    }
    .logo{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        height: auto;
        margin-bottom: 30px;
        margin-top: 100px;
    }
    .submit-button{
        margin-top: 60px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        background: #0b421a;
    }
    .or{
        margin-top: 30px;
    }
    ion-label{
        font-size: 15px;
        font-weight: bold;
    }
    .setting{
        margin-left: 10px;
        margin-right: 10px;
        color: #eac784;
    }
}
