page-register {
    .submit-button{
        margin-top: 20px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 40%;
        background: #0b421a;
    }
    .setting{
        margin-left: 10px;
        margin-right: 10px;
        color: #eac784;
        font-weight: bold;
    }
    .inputbg{
        background-color: #604c4c;
        color: white;
    }
}
