page-history {
    .head{
        background: none;
        color: #eac784; 
    }
    .orderbutton{
        background: none;
        color: #eac784; 
    }
    .orderbutton:hover{
        background-color: 	#604c4c;
    }
}
