page-calculator {
    .logo{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        height: auto;
        margin-bottom: 30px;
        margin-top: 25px;
    }
    .show-text{
        background-color: orangered;
        color: yellow;
    }
    .cal-setting{
        background: none;
        color: #eac784;
    }
}
