page-orderdetail {
    .detailsetting{
        margin-top: 10px; 
        color: #eac784;
        font-size: 20px;
        background: none;
    }
    .pic{
        left: 50%;
        transform: translate(20%,0%);
        width: 100%;
        height: auto;
    }
}
